_Upgrade*
UpgradeLog.xml
packages/

build_output/*
code_drop/*

*.suo
*.user
bin
obj
_ReSharper*

*.resharper
*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig
*.vspscc
*.vssscc
*.vsmdi
*.testsettings
*lint*
*.log
*.Cache
*.StyleCop
*sublime*
*crunchsolution*
*crunchproject*

TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
gems/lib/**/*